body {
    background: url(../img/) top left #fd2c2c;
    background-attachment: fixed;
    background-repeat: repeat-x;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    color: #0d0d0d;
    min-width: 440px;
    margin-top: 110px;
    margin-bottom: 20px;
}

.pagetitle {
    color:#000000;
    text-transform: uppercase;
}

.page-header {
    color: white;
    display: flex;
    width: 100%;
    padding: 20px 40px;
    font-size: 25px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.pokemon {
    background-color: #fff;
    color: #0d0d0d;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 250px;
    height: 70px;
    border: solid 2px;
    transition: 0.2s background-color;
    box-shadow: 10px 10px;
}

.pokemon:hover, .pokemon:focus {
    background-color: #fefe3b;
    cursor: pointer;
}

.modal-dialog {
    background: #fff;
    padding: 15px;
    width: 400px;
    max-height: fit-content;
    text-align: left;
    border: solid 4px;
    border-radius: 10%;
    top: 25%;
}

.modal-fade {
    display: center;
}

.modal-content {
    border: none;
}

.modal-header {
    border: none;
}

.close {
    float: right;
    color: #0d0d0d;
    transition: 0.2s background-color;
}

.close:hover, .modal-close:focus {
    background-color: #ff0000;
    cursor: pointer;
}

.modal h1 {
    text-transform: uppercase;
    font-size: 30px;
}

.modal img {
    float: right;
}

.pokemon-types {
    font-size: 24px;
    text-transform: capitalize;
    text-align: left;
}

.pokemon-height {
    text-align: left;
    font-size: 24px;
}