* {
    box-sizing: border-box;
  }

  .page-header { 
      display: flex;
      width: 100%;
      padding: 20px 40px;
      /*filter: drop-shadow(0px 2px 1px #300C0F)*/
  }
  
  .page-header__item {
      flex: 0 1 200px;
  }
  
  .page-header__item:last-child {
      flex-grow: 1;
      text-align: right;
  }
  
  .navigation-list {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navigation-list li {
      display: inline-block;
      margin-left: 15px;
  }
  
  .navigation-list__item--active {
      text-decoration: none;
  }
  
  .button-class {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
  }